.basic-font {
    font-size: 14px;
    font-weight: 400;
    color: blue;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.warning-font {
    color: $fontColor;
}